@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
}

body {
  background-image: url(../img/bgc.jpg);
  color: #fff;
  font-family: Roboto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 44px;
  padding: 10px 30px;
  display: flex;
  border-radius: 50px;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}

/* ===== HEADER ==================================================================== */
.header {
  font-size: 16px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 48px 80px 20px 80px;
  align-items: center;
}

._container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 56px;
}

.menu___link {
  color: #fff;
  font-weight: 400;
}

.header__button {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

/* ===== MAIN ==================================================================== */
.main-block__body {
  margin: 218px 0;
}

.main-page__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
  margin: 0 0 50px 0;
}

.main-page__timer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 30px;
  max-width: 522px;
}

.main-page__item {
  justify-content: space-between;
  background: #121212;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-page__item__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

.main-page__item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.4;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ===== MAIN-LINE ==================================================================== */
.last-line {
  background: #121212;
  min-height: 130px;
  display: flex;
}

.last-line__column {
  display: flex;
  flex-direction: column;
}
.last-line__column:not(:last-child) {
  margin: 0 81px 0 0;
}

.last-line__body {
  display: flex;
  align-items: center;
  min-width: 1300px;
}

.last-line__button {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.last-line__item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.last-line__text {
  padding: 0 30px 0 0;
  line-height: 150%;
  opacity: 0.4;
}

.last-line__value {
  font-weight: 700;
  line-height: 150%;
}

/* ===== ABOUT ==================================================================== */
.about {
  padding: 200px 0;
  display: flex;
}

.about__body {
  margin: 69px 0 0 135px;
}

.about__title {
  padding: 0 0 45px 0;
}

.about__text {
  line-height: 160%;
}/*# sourceMappingURL=style.css.map */